<div #waiting>
    <div class="text-center">
        <img src="assets/images/review.png" alt="waiting" height="250" width="250">
    </div>
    <div class="text-center fw-bold waitText pt-0 pb-0">
        <p>Sit back and relax, we are reviewing<br>your documents</p>
    </div>
    <br />
    <div class="alert alert-success text-center" role="alert">
        <p class="fw-bold greenText mb-1 xsmallText">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="green" class="bi bi-clock"
                viewBox="0 0 16 16">
                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
            </svg>
            Document Received
        </p>
        <p class="fw-bold blackText mb-2">We have received your documents and we aer processing your application
        </p>
    </div>
    <br /><br /><br />
</div>