<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="assets/images/pagenotfound.jpeg" alt="404" height="300" width="300" />
        </div>
    </div>
    <br />
    <div class="row tealFont fw-bold">
        <div class="col text-center">
            Page Not Found
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col text-center">
            <button mat-fab color="primary" (click)="redirect()">
                <mat-icon>home</mat-icon>
            </button>
        </div>
    </div>
</div>