<div>
    <div class="row">
        <div class="col text-center fw-bold">
            Review & accept your agreement            
        </div>
    </div>
    <br />
    <div class="row">
        <iframe src="https://www.orimi.com/pdf-test.pdf" height="250px"></iframe>
    </div>
    <br />
    <div class="row">
        <div class="col-1">
            <mat-checkbox color="primary"></mat-checkbox>
        </div>
        <div class="col-11 xsmallText">
            I acknowledge that I have read and agree to the
            Most Important Terms and Conditions (MITC) and
            the General Terms and Conditions (GTC)
        </div>
    </div>
    <br />
    <div class="text-center">
        <button mat-raised-button color="primary" type="submit" (click)=" initiateAgreement()">Accept agreement</button>
        <br /> <br />
        <!-- <button mat-button color="primary">
            <mat-icon>get_app</mat-icon> Download agreement
        </button> -->
    </div>
    <br />
    <br />
</div>