<div #waiting >
    <div class="text-center">
        <img src="assets/images/wait.png" alt="waiting" height="250" width="250">
    </div>
    <div class="text-center fw-bold waitText pt-0 pb-0">
        <p>Wait a moment, while we are<br>calculating the best offer for you</p>
    </div>
    <br />
    <div class="alert alert-warning text-center" role="alert">
        <p class="fw-bold orangeText mb-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="orange" class="bi bi-clock"
                viewBox="0 0 16 16">
                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
            </svg>
            Please wait
        </p>
        <p class="fw-bold blackText mb-2">This usually takes about 2 minutes as we pull CIBIL data, based on your which
            we
            calculate your credit limt
        </p>
    </div>
    <br /><br /><br />
</div>

<div style="display:none" #tryagain>
    <div class="text-center">
        <img src="assets/images/wait.png" alt="waiting" height="300" width="300">
    </div>
    <div class="text-center fw-bold waitText pt-0 pb-0">
        <p>Looks like it's taking more time to<br>generate the best offer for you</p>
    </div>
    <br />
    <div class="text-center">
        <button mat-raised-button color="primary">Try Again</button>
    </div>
    <br /><br /><br /><br />
</div>